.panel .panel-heading{
    border: none;
}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {

    background: #688a7e;

    color: #fff;

}

::-moz-selection {

    background: #688a7e;

    color: #fff;

}
